<div [formGroup]="myForm" class="w-3/4 pt-5 mx-auto">
  <!-- Dynamic normal form -->
  <ng-container *ngFor="let formItem of dynamicFormFields">
    <app-dynamic-form-field [formItem]="formItem"></app-dynamic-form-field>
  </ng-container>

  <!-- Multiple select with all selection -->
  <mat-form-field class="w-full">
    <mat-label>Multiple select with all selection</mat-label>
    <multiple-select
      [formControl]="multipleSelectAll"
      [options]="options"
      optionLabel="label"
      optionValue="value"
    ></multiple-select>
  </mat-form-field>

  <!-- Infinite scroll dropdown -->
  <mat-form-field class="w-full">
    <mat-label>Infinite scroll selection</mat-label>
    <app-infinite-scroll-selection
      [formControl]="infiniteScrollSelection"
      optionLabel="name"
      optionValue="name"
      [options]="passengers"
      (emitter)="onScroll()"
      [isLoading]="isLoading$ | async"
    ></app-infinite-scroll-selection>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Infinite scroll selection directive</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of passengers" value="item.name">{{
        item.name
      }}</mat-option>
      <div (onScroll)="onScroll()"></div>
      <mat-option *ngIf="isLoading$ | async" [value]="">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<pre>
  {{ myForm.value | json }}
  {{ multipleSelectAll.value | json }}
  {{ infiniteScrollSelection.value | json }}
</pre>
